[package]
name = "ex"
version = "0.1.0"
edition = "2021"

[workspace]

[lib]
crate-type = ["cdylib"]

[dependencies]
tako-sdk = { git = "https://github.com/tos-network/tako", rev = "fb639c0" }

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
